Package: configdatarpi
Version: 1.0.8
Architecture: arm64
Maintainer: Robert Key robertkey021@gmail.com
Section: myown
Pre-depends: stedit
Depends: xz-utils, geany, geany-plugins, geany-common, gh, rclone, git, git-doc, git-man, subversion
Priority: optional
Description: Rpi config data for git, rclone, gh, geany, bash-aliases etc.
