Package: configdatarpi
Version: 1.3.2
Architecture: arm64
Maintainer: Robert Key robertkey021@gmail.com
Section: myown
Depends: samba, xz-utils, nano, lomiri-wallpapers, lomiri-wallpapers-16.04, lomiri-wallpapers-20.04, geany, geany-common, geany-plugins, gh, rclone, git, git-man, subversion, mtools, dosfstools
Priority: optional
Description: Rpi config data for git, rclone, gh, geany, bash-aliases etc.
