Package: configdatarpi
Version: 1.1.2
Architecture: arm64
Maintainer: Robert Key robertkey021@gmail.com
Section: myown
Pre-depends: stedit
Depends: xz-utils, geany, geany-plugins, gh, rclone, git, subversion, builddebiantree, mtools, dosfstools
Priority: optional
Description: Rpi config data for git, rclone, gh, geany, bash-aliases etc.
